* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
body {
    background-color: rgb(0, 250, 250);
    background: url('./sergei-gavrilov-gbd6PqRqGms-unsplash.jpg') no-repeat;
    background-size: cover;
}
.login-form {
    width: 350px;
    top: 50%;
    right: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    color: #fff;
}
.login-form h1 {
    font-size: 50px;
    text-align: center;
    text-transform:uppercase;
    margin: 40px;
}
.login-form p {
    font-size: 20px;
    margin: 10px 0;
    padding: 5px;

}
.login-form input {
    font-size: 16px;
    width: 100%;
    padding: 15px 10px;
    border: 0;
    outline: none;
    border-radius: 20px;

}
.login-form button {
    font-size: 18px;
    font-weight: bold;
    margin: 20px 0;
    padding: 10px 30px;
    width: 49%;
    right: 20%;
    border-radius: 20px;
    border: 0;

}
.login-form span {
    font-size: 30px;
    margin: 20% 0;
    padding: 5px ;

}

.login-form ion-icon {
    font-size: 25px;
    margin: 0% 0;
    padding: 0px ;

}

